<!DOCTYPE html>
<html>
<head>
	<title>Showlay</title>
	<style type="text/css">
		body {background-color: #8258FA}
		h1 { color: white; text-align: center;}
		.catphoto {display: block; margin: 0 auto; width: 450px; height: 400px; border: 13px #64FE2E solid}
	</style>
</head>
<body>
	<%= yield %>
</body>
</html>
